<div class="example-container">
	<h2>Template</h2>
	<forms-designer-drop-list [formlyList]="formlyListTemplate" [dropListConnectedTo]="dropListConnectedTo" [model]="model" (register)="register($event)"
	 (unregister)="unregister($event)"></forms-designer-drop-list>
</div>

<div class="example-container">
	<h2>Design</h2>
	<forms-designer-drop-list [formlyList]="formlyList" [dropListConnectedTo]="dropListConnectedTo" [model]="model" (register)="register($event)"
	 (unregister)="unregister($event)"></forms-designer-drop-list>
</div>

<div class="example-container">
	<h2>Design 2</h2>
	<forms-designer-drop-list [formlyList]="formlyList2" [dropListConnectedTo]="dropListConnectedTo" [model]="model" (register)="register($event)"
	 (unregister)="unregister($event)"></forms-designer-drop-list>
</div>